form {
    width: 720px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(225, 58, 255, 0.34);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* >>> .container__large: 100% width - padding (form) <<< */
.container__large, .container__large .container__search {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.container__large {
    margin-bottom: 16px;
}

/* >>> .container__small's boxes are inside .container__large's boxes <<< */
.container__small {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 20%;
}

.container__small:nth-child(1) {
    width: 100%;
}
.container__small:nth-child(2), .container__small:nth-child(3) {
    width: fit-content;
}

input[type="text"], input[type="search"], input[type="number"], .container__large .container__result {
    height: 32px;
    padding: 0 6px;
    border-radius: 8px;
    border: rgba(225, 58, 255, 0.252) solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="search"] {
    width: 100%;
}

input[type="number"] {
    width: 64px;
}

input[type="text"]:focus, input[type="search"]:focus, input[type="number"]:focus {
    outline: rgb(225, 58, 255) solid 2px;
}

.container__large .container__search {
    width: 30%;
}

.container__large .container__result {
    width: 70%;
    background-color: rgba(225, 58, 255, 0.252);
    justify-content: center;
}

fieldset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-left: 0;
}

.container__small .water {
    width: 50px;
}

.container__small .water:hover, fieldset label {
    cursor: pointer;
}

/* >>> Buttons <<< */
.button__small {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 40px;
}

.button__small img {
    width: 16px;
    transition: 0.1s transform;
}

.button__small img:hover {
    transform: rotate(15deg);
}

button, .button__large {
    width: 100%;
    border-radius: 12px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(225, 58, 255);
    border: rgba(225, 58, 255, 0.252) solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: rgb(85, 85, 85);
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: rgb(225, 58, 255) solid 2px;
}

.not-found {
    outline: rgb(225, 58, 255) solid 4px;
    opacity: 0.5;
    transition: 0.25s;
}