form {
    width: 720px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(225, 58, 255, 0.34);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container-large {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.container-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-info:nth-child(1) {
    width: 75%;
}
.container-info:nth-child(2) {
    width: 25%;
    justify-content: flex-end;
}

.container-info img {
    width: 50px;
}

.container-info img:hover {
    cursor: pointer;
}

.container-search {
    margin-bottom: 16px;
    box-sizing: border-box;
}

#inputSearch {
    display: inline-block;
    width: 73.2%;
    margin-right: 2%;
}

#searchAPI {
    display: inline-block;
    width: 24%;
    height: 32px;
    vertical-align: middle;
    font-size: 18px;
}

input[type="text"], input[type="search"] {
    height: 32px;
    padding-left: 8px;
    border-radius: 8px;
    width: 100%;
    border: rgba(225, 58, 255, 0.252) solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="number"] {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    padding-left: 4px;
    border: rgba(225, 58, 255, 0.252) solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus, input[type="search"]:focus, input[type="number"]:focus {
    outline: rgb(225, 58, 255) solid 2px;
}

fieldset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-left: 0;
}

button {
    width: 100%;
    border-radius: 12px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(225, 58, 255);
    border: rgba(225, 58, 255, 0.252) solid 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: rgb(85, 85, 85);
    font-weight: 600;
}

#searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 40px;
}

#searchButton img {
    width: 16px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: rgb(225, 58, 255) solid 2px;
}